@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Protest+Guerrilla&display=swap');







/* Profile components */
.profileContainer {
    overflow: hidden;
    // variables
        --neon-animation: neon 1s ease infinite;
    
    // animation
    @keyframes neon {
        0%,
        100% {
            text-shadow: 0 0 10px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 2px #fed128, 2px 2px 2px #806914;
            color: #f5efcb;
        }
        50% {
            text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
            color: #eda0d3;
        }
    }

    @keyframes typing {
        to {
            width: 18rem;
        }
      }
    
    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
      }

    

        
    & .welcomeContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            padding: 5rem;
        
            & h1{
                overflow: hidden;
                white-space: nowrap;
                border-right: 1px solid #ccc;
                animation: typing 3s steps(10) infinite;
                font-size: 1.5rem;
                font-weight: 700;
                letter-spacing: 5px;

                & span {
                    color: blue;
                }
           
              
            }

            & label {
                font-size: 3rem ;
                letter-spacing: .5rem;
                gap: 1rem;
                display: flex;
                flex-direction: column;
                margin-bottom: 1rem;
                font-family: "Signika", sans-serif;
                font-optical-sizing: auto;
                cursor: pointer;
            
            }

            .spanStyle{
             
                animation: var(--neon-animation);
                
            }

            & p {
                font-family: "Montserrat", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
                font-size: 1.2rem;
                cursor: pointer;
            }
        }


        .imageContainer {
          
            & .imageStyle{
                border-radius: 50%;
                padding: .5rem;
                height: 20rem;
                width: 20rem;
                z-index: 10;
                border: dashed .3rem #2af514;

            }

          
            
        }
    }
// ABOUT components
.aboutContainer{
    background-color: white;
    color: black;
    
   
 

    & .aboutProfileContainer{
        display: flex;
        justify-content: center;
     
       
        
        
        

        & .imgAboutContainer{
            margin-bottom: 2rem;
            border-radius: 10px;
            padding-top: 1rem;

          
        
        }
        
    }

    & .infoContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
      

        & h1{
            font-weight: bold;
            font-size: 2.5rem;
        }

        & div {
        
            height: 15rem;
            display: flex;
            flex-direction: column;

            & .miniNav{
                display: flex;
                height: 3rem;
                flex-direction: row;
             
                gap: 1rem;
                padding-top: .5rem;
               
                overflow: hidden;

               & a{
                cursor: pointer;
                font-weight: bold;
                font-size: 1.2rem;

                }

                & a:active{
                    color: #2af514;
                }
            }

            & .miniContainer{
                overflow: hidden;
                // background-color: red;

               

                & label {
                    font-weight: 600;
                    
                }
                
                & .achievementContainer{
                    // background-color: white;
                    height: 11rem;
                    width: inherit;
                    height: inherit;
                    border-radius: 10px;
                    gap: .3rem;
                
                    
                    & label {
                        font-size: 1rem;
                    }

                    & p {
                        font-size: .8rem;
                        display: flex;
                        flex-direction: row;
                        font-weight: 400;
                        gap: .5rem;
                        

                        & span {
                            font-weight: 600;
                            
                        }
                    }
                }

            }
        }
    }
}

// SKILLS components
.skillsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
   

    & .techstackContainer{
        width: 85%;
        margin-top: 5rem;
        padding: 3em;
        border-radius: 10px;

        & div {
            background-color: white;

            & h1 {
                color: black;
                text-align: center;
                font-weight: bold;
            }

            & div {
                width: 100%;
                padding: 1rem;
                color: black;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 4px;
                overflow: hidden;
                cursor: pointer;

                & img {
                    height: 35px;
                    width: 35px;
                    border: solid grey 1px;
                    border-radius: 5px;
                    padding: 3px;
                    margin-top: .2rem;
                }
            }
        }
    }
 

}

.projectContainer{
    background-color: white;



  
    & .cardContainer {
        width: 330px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
     

        & img {
            height: 200px;
            width: 100%;
            padding: 1rem;
        }

        & label {
            font-size: 1.3rem;
        }
        & p{
            font-size: 12px;
        }
    }

   
}

.footerContainer{
    // background-color: #2af514;
    padding-left: 3rem;

    .icons{

        border: grey .5px solid;
        height: 35px;
        width: 35px;
        padding: 5px;
        border-radius: 5px;
    }

}
