@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Protest+Guerrilla&display=swap');


/* Profile components */
.welcomeContainer{
    // border: white solid 2px;
    & h1{
        font-size: 1rem;
        margin-bottom: .2rem;
        letter-spacing: 1px;
        cursor: pointer;
    }
    & label {
        font-size: 3rem ;
        letter-spacing: .5rem;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        font-family: "Signika", sans-serif;
        font-optical-sizing: auto;
        cursor: pointer;
    }

    .spanStyle{
        color: #2af514;
    }
    & p {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: .9rem;
        cursor: pointer;
    }
}


.imageContainer {
    & .imageStyle{
        margin-left: auto;
        margin-right: 2rem;
        border-radius: 50%;
        padding: .5rem;
        border: dashed .3rem #2af514;
    }
    
}
