@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Protest+Guerrilla&display=swap");
/* Profile components */
.profileContainer {
  overflow: hidden;
  --neon-animation: neon 1s ease infinite;
}
@keyframes neon {
  0%, 100% {
    text-shadow: 0 0 10px rgba(239, 0, 227, 0.6588235294), 0 0 20px rgba(239, 0, 227, 0.6588235294), 0 0 20px rgba(239, 0, 227, 0.6588235294), 0 0 20px rgba(239, 0, 227, 0.6588235294), 0 0 2px #fed128, 2px 2px 2px #806914;
    color: #f5efcb;
  }
  50% {
    text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
    color: #eda0d3;
  }
}
@keyframes typing {
  to {
    width: 18rem;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.profileContainer .welcomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 5rem;
}
.profileContainer .welcomeContainer h1 {
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid #ccc;
  animation: typing 3s steps(10) infinite;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 5px;
}
.profileContainer .welcomeContainer h1 span {
  color: blue;
}
.profileContainer .welcomeContainer label {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-family: "Signika", sans-serif;
  font-optical-sizing: auto;
  cursor: pointer;
}
.profileContainer .welcomeContainer .spanStyle {
  animation: var(--neon-animation);
}
.profileContainer .welcomeContainer p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  cursor: pointer;
}
.profileContainer .imageContainer .imageStyle {
  border-radius: 50%;
  padding: 0.5rem;
  height: 20rem;
  width: 20rem;
  z-index: 10;
  border: dashed 0.3rem #2af514;
}

.aboutContainer {
  background-color: white;
  color: black;
}
.aboutContainer .aboutProfileContainer {
  display: flex;
  justify-content: center;
}
.aboutContainer .aboutProfileContainer .imgAboutContainer {
  margin-bottom: 2rem;
  border-radius: 10px;
  padding-top: 1rem;
}
.aboutContainer .infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.aboutContainer .infoContainer h1 {
  font-weight: bold;
  font-size: 2.5rem;
}
.aboutContainer .infoContainer div {
  height: 15rem;
  display: flex;
  flex-direction: column;
}
.aboutContainer .infoContainer div .miniNav {
  display: flex;
  height: 3rem;
  flex-direction: row;
  gap: 1rem;
  padding-top: 0.5rem;
  overflow: hidden;
}
.aboutContainer .infoContainer div .miniNav a {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
}
.aboutContainer .infoContainer div .miniNav a:active {
  color: #2af514;
}
.aboutContainer .infoContainer div .miniContainer {
  overflow: hidden;
}
.aboutContainer .infoContainer div .miniContainer label {
  font-weight: 600;
}
.aboutContainer .infoContainer div .miniContainer .achievementContainer {
  height: 11rem;
  width: inherit;
  height: inherit;
  border-radius: 10px;
  gap: 0.3rem;
}
.aboutContainer .infoContainer div .miniContainer .achievementContainer label {
  font-size: 1rem;
}
.aboutContainer .infoContainer div .miniContainer .achievementContainer p {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  font-weight: 400;
  gap: 0.5rem;
}
.aboutContainer .infoContainer div .miniContainer .achievementContainer p span {
  font-weight: 600;
}

.skillsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skillsContainer .techstackContainer {
  width: 85%;
  margin-top: 5rem;
  padding: 3em;
  border-radius: 10px;
}
.skillsContainer .techstackContainer div {
  background-color: white;
}
.skillsContainer .techstackContainer div h1 {
  color: black;
  text-align: center;
  font-weight: bold;
}
.skillsContainer .techstackContainer div div {
  width: 100%;
  padding: 1rem;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  overflow: hidden;
  cursor: pointer;
}
.skillsContainer .techstackContainer div div img {
  height: 35px;
  width: 35px;
  border: solid grey 1px;
  border-radius: 5px;
  padding: 3px;
  margin-top: 0.2rem;
}

.projectContainer {
  background-color: white;
}
.projectContainer .cardContainer {
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}
.projectContainer .cardContainer img {
  height: 200px;
  width: 100%;
  padding: 1rem;
}
.projectContainer .cardContainer label {
  font-size: 1.3rem;
}
.projectContainer .cardContainer p {
  font-size: 12px;
}

.footerContainer {
  padding-left: 3rem;
}
.footerContainer .icons {
  border: grey 0.5px solid;
  height: 35px;
  width: 35px;
  padding: 5px;
  border-radius: 5px;
}/*# sourceMappingURL=component.module.css.map */